<!doctype html>
<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:replace="components/head :: head"> </div>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a th:href="@{https://browsehappy.com/}">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
        <!-- Banner Popup Start -->
        <div th:insert="components/popup :: popup_banner"></div>
        <!-- Banner Popup End -->
        <!-- Newsletter Popup Start -->
        <div th:insert="components/popup :: popup_wrapper"></div>
        <!-- Newsletter Popup End -->
        <!-- Main Header Area Start Here -->
        <div th:replace="components/header :: header"></div>
        <!-- Main Header Area End Here -->
        <!-- Categorie Menu & Slider Area Start Here -->
        <div th:insert="components/category_menu :: category_menu"></div>
        <!-- Categorie Menu & Slider Area End Here -->
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a th:href="@{/}">Home</a></li>
                        <li class="active"><a th:href="@{/error}">404</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Error 404 Area Start -->
        <div class="error404-area ptb-100 ptb-sm-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-wrapper text-center">
                            <div class="error-text">
                                <h1>404</h1>
                                <h2>Opps! PAGE NOT BE FOUND</h2>
                                <p>Sorry but the page you are looking for does not exist, have been removed, name changed or is temporarity unavailable.</p>
                            </div>
                            <div class="search-error">
                                <form id="search-form" action="#">
                                    <input type="text" placeholder="Search">
                                    <button><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="error-button">
                                <a th:href="@{index.html}">Back to home page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Error 404 Area End -->
        <!-- Support Area Start Here -->
        <div class="support-area bdr-top">
            <div class="container">
                <div class="d-flex flex-wrap text-center">
                    <div class="single-support">
                        <div class="support-icon">
                            <i class="lnr lnr-gift"></i>
                        </div>
                        <div class="support-desc">
                            <h6>Great Value</h6>
                            <span>Nunc id ante quis tellus faucibus dictum in eget.</span>
                        </div>
                    </div>
                    <div class="single-support">
                        <div class="support-icon">
                            <i class="lnr lnr-rocket"></i>
                        </div>
                        <div class="support-desc">
                            <h6>Worlwide Delivery</h6>
                            <span>Quisque posuere enim augue, in rhoncus diam dictum non</span>
                        </div>
                    </div>
                    <div class="single-support">
                        <div class="support-icon">
                           <i class="lnr lnr-lock"></i>
                        </div>
                        <div class="support-desc">
                            <h6>Safe Payment</h6>
                            <span>Duis suscipit elit sem, sed mattis tellus accumsan.</span>
                        </div>
                    </div>
                    <div class="single-support">
                        <div class="support-icon">
                           <i class="lnr lnr-enter-down"></i>
                        </div>
                        <div class="support-desc">
                            <h6>Shop Confidence</h6>
                            <span>Faucibus dictum suscipit eget metus. Duis  elit sem, sed.</span>
                        </div>
                    </div>
                    <div class="single-support">
                        <div class="support-icon">
                           <i class="lnr lnr-users"></i>
                        </div>
                        <div class="support-desc">
                            <h6>24/7 Help Center</h6>
                            <span>Quisque posuere enim augue, in rhoncus diam dictum non.</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Support Area End Here -->
        <!-- Footer Area Start Here -->
        <div th:replace="components/footer :: footer"></div>
        <!-- Footer Area End Here -->
        <!-- Quick View Content Start -->

        <!-- Quick View Content End -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script th:src="@{js\vendor\jquery-3.2.1.min.js}"></script>
    <!-- Countdown js -->
    <script th:src="@{js\jquery.countdown.min.js}"></script>
    <!-- Mobile menu js -->
    <script th:src="@{js\jquery.meanmenu.min.js}"></script>
    <!-- ScrollUp js -->
    <script th:src="@{js\jquery.scrollUp.js}"></script>
    <!-- Nivo slider js -->
    <script th:src="@{js\jquery.nivo.slider.js}"></script>
    <!-- Fancybox js -->
    <script th:src="@{js\jquery.fancybox.min.js}"></script>
    <!-- Jquery nice select js -->
    <script th:src="@{js\jquery.nice-select.min.js}"></script>
    <!-- Jquery ui price slider js -->
    <script th:src="@{js\jquery-ui.min.js}"></script>
    <!-- Owl carousel -->
    <script th:src="@{js\owl.carousel.min.js}"></script>
    <!-- Bootstrap popper js -->
    <script th:src="@{js\popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{js\bootstrap.min.js}"></script>
    <!-- Plugin js -->
    <script th:src="@{js\plugins.js}"></script>
    <!-- Main activaion js -->
    <script th:src="@{js\main.js}"></script>
</body>

</html>